<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand" href="<%= root_path %>">
    <span class="d-block d-lg-none">Challenge Husky</span>
    <span class="d-none d-lg-block"> <%= image_tag 'husky_logo', class: 'img-fluid mx-auto mb-2', alt: 'Logo da Husky, petala com cores rosa, velho e laranja, com o nome Husky.' %></span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
      <% if session[:token].nil? %>
        <li class="nav-item"><%= link_to 'Cadastre-se', new_registration_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Entrar', new_session_path, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Invoices', invoices_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Sair', destroy_session_path, method: :delete, data: { confirm: "Deseja realmente sair?" }, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>