<header class="clearfix">
  <div id="logo">
    <%= image_tag 'husky_logo' %>
  </div>
  <h1><%= @invoice.number %></h1>
  <div id="project">
    <div><span><%= I18n.t('activerecord.attributes.invoice.invoice_from').upcase%></span> <%= @invoice.invoice_from %> </div>
    <div><span><%= I18n.t('activerecord.attributes.invoice.invoice_from_address').upcase%></span> <%= @invoice.invoice_from_address %> </div>
    <div><span><%= I18n.t('activerecord.attributes.invoice.invoice_to').upcase%></span> <%= @invoice.invoice_to %> </div>
    <div><span><%= I18n.t('activerecord.attributes.invoice.invoice_to_email').upcase%></span> <%= @invoice.invoice_to_email %> </div>
    <div><span><%= I18n.t('activerecord.attributes.invoice.invoice_to_address').upcase%></span> <%= @invoice.invoice_to_address %> </div>
    <div><span><%= I18n.t('activerecord.attributes.invoice.created_at').upcase%></span> <%= l @invoice.created_at %> </div>
  </div>
</header>
<main>
  <table>
    <thead>
      <tr>
        <th class="desc"><%= I18n.t('invoice.description')%></th>
        <th class="value"><%= I18n.t('invoice.value')%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="service"><%= @invoice.service_description %></td>
        <td><%= number_to_currency @invoice.value %></td>
      </tr>
    </tbody>
  </table>
  <div id="notices">
    <div><%= I18n.t('invoice.notice').upcase%>:</div>
    <div class="notice"><%= I18n.t('invoice.notice_message')%> <strong><%= @invoice.identifier.upcase %></strong></div>
  </div>
</main>